/*
#strength-meter {
  display: none; 
  margin-top: 10px;
  width: 200px;
  height: 10px;
  border: 1px solid #ccc;
}

.strength-bar {
  height: 100%;
}
*/

.strength-bar {
  height: 10px;
  background-color: red;
  width: 0;
  transition: width 0.3s ease-in-out;
}

#strength-meter {
  flex-grow: 1;
}

#contIconoAndBarra {
  display: none;
  align-items: center;
  margin-top: 5px;
}

.tooltip-inner {
  text-align: left;
}